<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand btn btn-lg btn-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="btn" asp-area="" asp-controller="Schools" asp-action="Index">
								<span class="badge badge-dark">SCHOOL</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="btn" asp-area="" asp-controller="Class" asp-action="Index">
								<span class="badge badge-dark">CLASS</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">
								<span class="badge badge-dark">STUDENT</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="btn" asp-area="" asp-controller="ClassAjax" asp-action="Index">
								<span class="badge badge-dark">CLASS AJAX</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="row pb-3">
			<div class="col">
				@RenderBody()
			</div>
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	@*<script src="~/js/modal.js"></script>*@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
	<script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
	<script src="~/js/globalconfig.datatables.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
